<!doctype html>
<html lang="en">

  <head>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display+SC|Rokkitt" rel="stylesheet">
    ##<link rel="stylesheet" href="/CSS/master.css">
    <title>Medium article tracker</title>
  </head>

  <body>
    
    <div id="header">
      <h1> Sparta Medium article tracker</h1>
      <hr>
    </div>

    <div id="body">
      <ul id="list"> 
        <% @posts.each do |post| %>
          <li><img src="<%= post['author_details']['avatar_url']%>"></li>
          <li><a href="<%= post['url']%>"> <%= post['title'] %> </a></li>
          <li><%= post['author_details']['name'] %></li>
          <li><%= post['author_details']['bio'] %></li><br>
        <% end %>
      </ul>
    </div>
  </body>
</html>









